src/interface/__pycache__/
src/shortcuts/__pycache__/
src/scripts/__pycache__/
TODO.txt
__pycache__/
LOG
DATA
Setup
dist/
build/
*.spec
ShowWindowTitles.py
*.json
.vscode/
*.txt
*.def
*.ini
*.exe
*/temp_ccupdate/*
/logs